extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.email}")= user.username
                p Your email is: 
                p= user.email
                p Your password is:
                p= user.password